

ul {
  list-style-type: none;
  padding: 0;
}

.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header, .App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1vmin);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.App-link {
  color: #61dafb;
}

.Collapsible {
  cursor: pointer;
}

.countdown-soon {
  color:red;
}

.section-container {
  background-color: rgb(75, 77, 114);
  border-style: solid;
  border-color: white;
  border-width: 1px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-y: auto;
  max-height: 250px;
  min-height: 249px;
  margin-top: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
