

a {
  color: #24b2ff;
}

ul {
  list-style-type: none;
  padding: 0;
}

.App {
  text-align: left;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
  background: linear-gradient(90deg, #780675, #100a62);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header, .App-body {
  /*background-color: #0f224a;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(5px + 1vmin);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.App-link {
  color: #61dafb;
}

.Collapsible {
  cursor: pointer;
}

.countdown-soon {
  color:#271fb3;
}

/* --- graphic container --- */
.graphic-container-outer {
  width: 85vw;
  margin: 10px;
}
.graphic-container-icon {
  background: url("./assets/images/pokeball.png") no-repeat center center;
  width: 40px;
  height: 40px;
  background-size: contain;
  position: relative;
  top: 35px;
  left: -15px;
}
.graphic-container-gradient {
  background-image: linear-gradient(135deg, #271fb3, rgba(255,0,0,0));
  margin-left: 10px;
}
.graphic-container-gradient > p {
  color: white;
  height: 100%;
  padding: 2px;
  padding-left: 20px;
  margin: 0px;
  font-size: 1.2em;
}
.graphic-container-inner {
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #f7cbf2;
  background-image: linear-gradient(to left, #d363c5, #7f42dd);
  width: 100%;
}
.graphic-container-inner > * {
  margin-left: 20px;
}
.graphic-container-inner > ul > li {
  margin-top: 5px;
}

/* --- graphic mon --- */
.graphic-mon-outer {
  margin: 20px;
}
.graphic-mon-outer > * {
  margin: auto;
}
.graphic-mon-background {  
  background: url("./assets/images/pokeball-background.png") no-repeat center center;
  width: 50px;
  height: 50px;
  background-size: contain;
}
.graphic-mon-image {
  width: 0;
  height: 0;
}
.graphic-mon-image > img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  position: relative;
  top: -65px;
  left: -40px;
}
.graphic-mon-text {
  padding-top:5px;
  text-align: center;
}

/* --- Tabs --- */
.react-tabs__tab {
  padding: 8px 4px;
  margin: 1px;
}
.react-tabs__tab.react-tabs__tab--selected {
  padding: 8px 4px;
  border-radius: 10px;
  background-color: #7f42dd;
  background: #7f42dd;
}
.react-tabs__tab:focus:after {  
  content: '';
  position: absolute;
  height: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff00;
}
.react-tabs__tab-list {
  border-bottom: 0px;
}

.source-container > p {  
  background-image: linear-gradient(135deg, #271fb3, rgba(255,0,0,0));
  padding: 10px;
  margin-left: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
